.container {
    display: flex;
    background-color: purple;
    justify-content: flex-end;
    gap: 10px;
}

.caja {
    background-color: orange;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.container2 {
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100px;
}

#nav {
    background-color: rgb(241, 235, 197);
}

#nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

#nav ul li {
    background-color: rgb(100, 44, 44);
    padding: 10px 15px;
    border: 5px solid rgb(0, 0, 0);
    margin: auto;
}

#nav ul li:hover {
    background-color: rgb(245, 119, 119);
}

#nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
}