h1 {
    color: aquamarine;
}
h2 {
    color: blueviolet;
}
span{
    font-weight: bolder;
}
code{
    color: blue;
}
h3{
    font-style: italic;
}
#gris{
    text-transform: uppercase;
    color: grey;
}
#verde{
    color: green;
}
#red{
    color: red;
}